{% with page_title=page_title %} {% include "header.html" %} {% endwith %}

<div class="container">
  <div class="jumbotron" style="text-align: center">
    <h1>{{page_config.title}}</h1>
    <p>{{page_config.details}}</p>
  </div>
</div>

<div style="margin: 30px">
  <h3 style="text-align: center">The Team</h3>
  <div class="row">
    {%for i in range(0, page_config.len)%}
    <div class="col-md-4" style="margin-top: 30px">
      <div style="text-align: center">
        <img
          src="{{page_config.team[i].image}}"
          style="border-radius: 50%; width: 120px"
        />
      </div>
      <div style="text-align: center">{{page_config.team[i].name}}</div>
      <div style="text-align: center">{{page_config.team[i].title}}</div>
    </div>
    {%endfor%}
  </div>
</div>

<div style="margin: 30px">
  <h3 style="text-align: center">Our Mission</h3>
  <p style="margin: 30px">{{page_config.mission}}</p>
</div>

{% with page_footer=page_footer %} {% include "footer.html" %} {% endwith %}
