{% with page_title=page_title %} {% include "header.html" %} {% endwith %}

<script>
  window.token_config = JSON.parse({{page_config.token_config|tojson}});
</script>

<div class="container">
  <div class="jumbotron" style="text-align: center">
    <h1>{{page_config.title}}</h1>
    <p>{{page_config.details}}</p>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 mb-3">
      <p>
        Your sound has been stored in IPFS. The next step is to generate your
        NFT!
      </p>
      <p>
        The IPFS hash is {{page_config.token_ipfs_hash}}. The token metadata can
        be viewed
        <a href="{{page_config.token_ipfs_gateway_url}}" target="_blank">here</a
        >.
      </p>
      <button class="btn btn-success" id="create-nft">Create NFT!</button>
    </div>
  </div>

  <div class="row" id="nft-created" style="display: none">
    <div class="col-md-6 offset-md-3 mb-3">
      <h2>NFT Created!</h2>
      <p>Your NFT has been created on the ethereum blockchain.</p>
      <p>
        View your transaction on
        <a id="etherscan-link" href="#" target="_blank">Etherscan</a>.
      </p>
      <p>
        View your NFT on
        <a id="opensea-link" href="#" target="_blank">OpenSea</a>.
      </p>
    </div>
  </div>
</div>

{% with page_footer=page_footer %} {% include "footer.html" %} {% endwith %}
