{% with page_title=page_title %} {% include "header.html" %} {% endwith %}

<div class="container">
  <div class="jumbotron" style="text-align: center">
    <h1>{{page_config.title}}</h1>
    <p>{{page_config.details}}</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>{{page_config.title}}</h2>
      <div id="plot">{{page_config.details}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        This dApp uses MetaMask to sign transactions and currently runs on the
        Rinkeby Testnet. To try it out, complete the steps below:
      </p>
      <ul>
        <li>
          Install <a href="https://metamask.io/" target="_blank">MetaMask</a>.
        </li>
        <li>
          Once installed, switch MetaMask to the Rinkeby Test Network and create
          an account.
        </li>
        <li>
          With your Rinkeby testnet Ethereum account, get some testnet tokens at
          the faucet
          <a href="https://faucets.chain.link/rinkeby" target="_blank">here</a>.
        </li>
        <li>
          Grab an audio sample and head over to <a href="/create">/create</a> to
          create your first SoundChain NFT!
        </li>
      </ul>
    </div>
  </div>
</div>

{% with page_footer=page_footer %} {% include "footer.html" %} {% endwith %}
